 <launch>
    <!-- Global Path Publisher -->
    <node pkg="basic_code" type="global_path_pub.py" name="global_path_pub" >
        <!-- 경로 파일을 설정하는 파라미터 -->
        <param name="path_file" value="mando_path.txt" />
    </node>


    <!-- GPS and IMU Parser -->
    <node pkg="basic_code" type="gpsimu_parser.py" name="gpsimu_parser"  />

    <!-- Local Path Publisher -->
    <node pkg="basic_code" type="local_path_pub.py" name="local_path_publisher" />
    <node pkg="basic_code" type="tf_pub.py" name="status_listener"  />
    <node pkg="basic_code" type="right_path_pub.py" name="right_path_pub"  />
    <node pkg="basic_code" type="lidar_velodyne_cluster.py" name="cluster_local"  />
    <node pkg="basic_code" type="lidar_velodyne_cluster_viz.py" name="cluster_global"  />

    


</launch>
